:root {
    --bg-color: #1d1d1d;
    --bg-color2: #3d3d3d;
    --fg-color: #fffae5;
    --color-pink: #feb4d5;
    --color-red: #f38ba8;
    --color-orange: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a4fea5;
    --color-cyan: #89dceb;
    --color-blue: #74c7ec;
    --color-purple: #cba6f7;
    --font-family: mainFont, serif;
}

@font-face {
    font-family: mainFont;
    src: url("fonts/PixelCode.ttf");
    size-adjust: 85%;
}

@font-face {
    font-family: codeFont;
    src: url("fonts/JetBrainsMonoNerdFontMono-Regular.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family);
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

a {
    color: var(--color-blue);
}

hr {
    color: var(--color-green);
}

.header {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}

.status-button {
    background: transparent;
    border: 0;
    padding: 0;
    appearance: none;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
}

.status-icon {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--fg-color);
    transition: 0.2s;
}

.status-icon:hover {
    color: var(--color-pink);
}

.main-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header h1,
.header p {
    margin: 0;
}

.workspaces {
    display: flex;
    gap: 4px;
}

.workspaces a {
    padding: 0.2rem;
    text-decoration: none;
    color: var(--fg-color);
}

.workspaces .workspaces-sel {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.viewport {
    display: flex;
    gap: 1rem;
}

.side-nav {
    flex: 0.2 1 200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.side-nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.header a,
.side-nav-links a {
    text-decoration: none;
    color: var(--fg-color);
}

.side-nav-links a:hover {
    text-decoration: underline;
}

.side-nav-socials {
    display: flex;
    gap: 1rem;
}

.side-nav-socials-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--fg-color);
    transition: 0.2s;
}

.side-nav-socials-icon:hover {
    fill: var(--color-green);
}

.main-content {
    flex: 0.8 1 600px;
    margin-right: 8rem;
}

.project-viewport {
    display: flex;
    gap: 1rem;
    flex: 1;
    min-height: 0;
}

.project-list {
    flex: 0.4 1 200px;
    overflow: auto;
    min-height: 0;
    border-right: 1px solid var(--bg-color2);
}

.project-content {
    display: flex;
    justify-content: center;
    flex: 0.6 1 600px;
    overflow: auto;
    min-height: 0;
}

.project-main-content {
    flex: 0.95;
}

.project-card {
    cursor: pointer;
    user-select: none;
    padding: 1rem 0;
}

.project-card h3 {
    margin-top: 0;
    margin-left: 1rem;
}

.project-card p {
    margin-bottom: 0;
    margin-left: 1rem;
}

.project-card:hover {
    background-color: var(--bg-color2);
}

.project-img {
    margin: 1rem 0;
    width: 80%;
    height: auto;
}

.blog-list {
    flex: 0.6;
    margin-top: 2rem;
}

.blog-card {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--fg-color);
    text-decoration: none;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--bg-color2);
    transition: 0.1s;
}

.blog-card h3,
.blog-card h2 {
    margin: 0;
}

.blog-card:hover {
    color: var(--color-pink);
}

.post-viewport {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.blog-content {
    flex: 0.8;
    font-size: 1.3rem;
    line-height: 1.2;
}

.blog-content h1 {
    color: var(--color-pink);
}

.blog-content h2 {
    color: var(--color-green);
}

.blog-content h3 {
    color: var(--color-orange);
}

.blog-content blockquote {
    margin-left: 0;
    padding-left: 2.5rem;
    border-left: 4px solid var(--color-orange);
    color: var(--color-orange);
}

.blog-content code {
    font-family: codeFont;
    font-size: 1rem;
    background-color: var(--bg-color2);
    padding: 0.1rem;
}

.blog-content pre:has(code) {
    padding: 0.5rem;
    background-color: var(--bg-color2);
}

.about-content {
    flex: 0.7;
    margin-bottom: 2rem;
}

@media (max-width: 630px) {
    html, body {
        height: auto;
        font-size: 1rem;
    }

    #date {
        display: none;
    }

    .viewport,
    .project-viewport {
        flex-direction: column;
    }

    .side-nav,
    .main-content {
        flex: 1;
    }

    .main-content {
        margin: 0;
    }

    .project-list {
        border: 2px solid var(--bg-color2);
        min-height: 300px;
    }

    .project-card {
        border-bottom: 1px solid var(--bg-color2);
    }

    .project-content {
        overflow: visible;
    }

    .blog-card {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .blog-content {
        flex: 1;
        font-size: 1rem;
        line-height: 1.2;
    }

    .about-content {
        flex: 1;
    }
}
