:root {
    --bg-color: #222222;
    --bg-color2: #444444;
    --win-idle: #444444;
    --fg-color: #eeeeee;
    --fg-color2: #777777;
    --hi-color: #005577;
    --button-hover: #006080;
    --button-active: #004466;
    --notify-color: #ddddfe;
    --link-color: #74c7ec;

    --shadow-blur: 8px;
    --shadow-spread: 2px;
    --shadow-color: rgba(0, 0, 0, 0.6);

    --outer-gap: 16px;
    --inner-gap: 16px;

    --border-width: 2.5px;

    --font-family: proggyClean, Arial, Helvetica, sans-serif;
}

:root.smileos {
    --bg-color: #333333;
    --bg-color2: #0f0f0f;
    --win-idle: #0f0f0f;
    --fg-color: #aaaaaa;
    --fg-color2: #ad1f1f;
    --hi-color: #770000;
    --button-hover: #8f1717;
    --button-active: #913f1c;
    --notify-color: #aaaaaa;
    --link-color: #ad1f1f;
}

:root.catppuccin {
    --bg-color: #11111b;
    --bg-color2: #585b70;
    --win-idle: #585b70;
    --fg-color: #cdd6f4;
    --fg-color2: #9399b2;
    --hi-color: #7287fd;
    --button-hover: #1e66f5;
    --button-active: #04a5e5;
    --notify-color: #e64553;
    --link-color: #89b4fa;
}

@font-face {
    font-family: proggyClean;
    src: url("fonts/ProggyCleanNerdFont-Regular.ttf");
    size-adjust: 120%;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-direction: column;
    color: var(--fg-color);
    background-color: #000;
}

a {
    color: var(--link-color);
}

button {
    border: none;
    padding: 0.25rem;
    text-align: center;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1rem;
    background-color: var(--hi-color);
    color: var(--fg-color);
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    background-color: var(--button-active);
}

label {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

input[type=number] {
    margin-right: 0.5rem;
}

input[type=checkbox] {
    margin-right: 0.5rem;
}

input[type=color] {
    border: none;
    padding: 0;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.header {
    flex: 1;
    display: flex;
    height: 3rem;
    margin: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.header p, .header a {
    text-decoration: none;
    color: var(--fg-color);
    margin: 0;
    padding: 0.45rem;
    text-shadow: 2px 2px 4px #111111;
    user-select: none;
}

.workspaces {
    display: flex;
}

.workspaces-sel {
    background-color: var(--hi-color);
}

a.workspaces-sel:hover {
    background-color: var(--hi-color);
}

.header-title {
    flex: 1;
    user-select: none;
}

.status {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    user-select: none;
}

.status-button {
    width: 1rem;
    height: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color2);
    cursor: pointer;
}

.status-button:hover {
    filter: brightness(1.3);
}

.status-button:active {
    filter: brightness(1.8);
}

.status-font-button {
    background-image: url("images/font.png");
    background-size: 100% 100%;
}

.status-audio-button {
    background-image: url("images/audio.png");
    background-size: 100% 100%;
}

.viewport {
    margin: 1rem 10%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--inner-gap);
    height: 100%;
}

.master {
    display: flex;
    flex-direction: column;
    flex: 0.75 1 300px;
    gap: var(--inner-gap);
}

.stack {
    flex: 0.25 1 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--inner-gap);
}

window-box {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    box-shadow: 0 4px var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
    border: var(--border-width) solid var(--win-idle);
    border-top: 1px solid var(--bg-color2);
}

window-box:hover {
    border: var(--border-width) solid var(--hi-color);
    border-top: 1px solid var(--hi-color);
    animation: window-jitter 0.1s linear;
}

@keyframes window-jitter {
    0%   {translate: 0 0;}
    25%  {translate: -1px 1.2px;}
    50%  {translate: -1.8px 2px;}
    75%  {translate: -1px 1.5px;}
    100% {translate: 0 0;}
}

.window-title {
    display: flex;
    justify-content: space-between;
    background-color: var(--hi-color);
    padding: 0.1rem;
    box-shadow: 0 -1px 0 0 var(--fg-color2);
}

.window-title-anim-notify {
    animation: window-notify 1s linear;
}

@keyframes window-notify {
    0%   {background-color: var(--notify-color); color: var(--bg-color)}
    19%   {background-color: var(--notify-color); color: var(--bg-color)}
    20%  {background-color: var(--hi-color); color: var(--fg-color)}
    39%  {background-color: var(--hi-color); color: var(--fg-color)}
    40%  {background-color: var(--notify-color); color: var(--bg-color)}
    59%  {background-color: var(--notify-color); color: var(--bg-color)}
    60%  {background-color: var(--hi-color); color: var(--fg-color)}
    79%  {background-color: var(--hi-color); color: var(--fg-color)}
    80% {background-color: var(--notify-color); color: var(--bg-color)}
    99% {background-color: var(--notify-color); color: var(--bg-color)}
    100%  {background-color: var(--hi-color); color: var(--fg-color)}
}

.window-title p::before {
    content: "| ";
}

.window-title p {
    margin: 0;
}

.window-title-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.window-title button {
    padding: 0 4px;
    background-color: rgba(0, 0, 0, 0.0);
}

.window-client {
    flex: 1 1 100px;
    padding: 0 1rem;
    border: 1px solid var(--fg-color2);
}

window-box[hidden] {
    display: none !important;
}

.window-title-buttons[hidden] {
    display: none !important;
}

.side-menu {
    flex: 0.15 1 80px;
    min-height: 500px;
    max-height: 600px;
}

.side-menu-client {
    padding: 0;
    overflow-x: hidden;
}

.side-menu a,
.side-menu button {
    display: block;
    padding: 0.4rem;
    text-decoration: none;
    color: var(--fg-color);
    border-bottom: 1px solid var(--bg-color2);
    user-select: none;
}

.side-menu button {
    width: 100%;
    cursor: pointer;
    background-color: var(--bg-color);
    text-align: left;
    padding-left: 1rem;
    user-select: none;
}

.side-menu summary {
    padding: 0.4rem;
    cursor: pointer;
    border-bottom: 1px solid var(--bg-color2);
    user-select: none;
}

.side-menu details a {
    background-color: var(--bg-color);
    padding-left: 1rem;
}

.side-menu button:hover,
.side-menu a:hover,
.side-menu summary:hover {
    background-color: var(--bg-color2);
}

.side-menu button:hover .side-menu-text,
.side-menu a:hover .side-menu-text {
    animation: side-menu-sel 0.2s ease-out;
    animation-fill-mode: forwards;
}
 
@keyframes side-menu-sel {
    0% {translate: 0 0;}
    100% {translate: 10px 0;}
}

.side-menu button:active .side-menu-text,
.side-menu a:active .side-menu-text {
    transform: translateY(2px);
}

.side-menu details:open > summary {
    background-color: var(--hi-color);
}

/* disable animations */
.animations-off window-box:hover {
    animation: none;
}

/* disable shadows */
.shadow-off window-box,
.shadow-off .header {
    box-shadow: none;
}

.shinji-client {
    aspect-ratio: 4/3;
    background-image: url("images/shinji-chair.jpg");
    background-size: 100% 100%;
}

/* project css */
.project-card {
    height: 3.75rem;
    overflow: hidden;
    padding-left: 0.5rem;
    display: flex;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid var(--bg-color2);
    cursor: pointer;
    user-select: none;
}

.project-card:hover {
    background-color: var(--bg-color2);
}

.project-img {
    margin: 1rem 0;
    width: 80%;
    height: auto;
}

.blog-card {
    height: 1rem;
    padding: 0.5rem 0;
    overflow: hidden;
    padding-left: 0.5rem;
    display: flex;
    gap: 8px;
    align-items: center;
    border-bottom: 1px solid var(--bg-color2);
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: var(--fg-color);
}

.blog-card p {
    margin: 0;
}

.blog-card:hover {
    background-color: var(--bg-color2);
}

.blog-content-window {
    flex: 0.7;
}

.blog-content-window:hover {
    animation: none;
}

.blog-content {
    font-size: 1.2rem;
    line-height: 1.4;
}

.about-client {
    line-height: 1.2;
}

#cursor-follow {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    background-image: url("images/box.gif");
    background-size: 100% 100%;
}

@media (max-width: 630px) {
    html, body {
        height: auto;
    }

    .viewport,
    .header {
        flex-direction: column;
    }

    .master,
    .stack {
        flex: none;
        width: 100%;
        height: auto;
    }

    .side-menu {
        min-height: auto;
        overflow: visible;
    }

    .window-client {
        overflow: visible;
    }
}
