<!DOCTYPE html>
<html>
<head>
    <title>blog - dbmaindex</title>
    <meta charset="UTF-8">
    <meta name="description" content="dbmaindex blog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="images/dbmaindex.png">
</head>
<body id="blog">
<div class="header">
    <div class="workspaces">
        <a href="index.html">dbmaindex</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
        <a class="workspaces-sel" href="blog.html">Blog</a>
        <a href="about.html">About</a>
    </div>
    <div class="header-title">
    </div>
    <div class="status">
        <p id="date">status</p>
        <div class="status-button status-font-button" id="status-toggle-font" title="toggle font visability"></div>
        <div class="status-button status-audio-button" id="status-toggle-audio" title="toggle audio"></div>
    </div>
</div>
<div class="viewport" style="display:flex; justify-content:center;">
    <div class="blog-viewport">
        <window-box id="blog-list" name="Blog List" btn="false" overflow="auto" style="flex:0.5;">
            {{blogs}}
        </window-box>
    </div>
</div>
<script src="scripts.js"></script>
</body>
</html>
